<section id="section-projects">
    <div class="box7 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Projects
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Project Screenshot" id="name" required>
                <input type="text" class="form__input" placeholder="Project Title" id="name" required>
                <input type="text" class="form__input" placeholder="Project Github Link" id="name" required>
                <input type="text" class="form__input" placeholder="Project Demo Link" id="name" required>
            </div>
        </h3>
    </div>
</section>


<script src="/js/profilePageAuth.js"></script>