<section id="section-resume">
    <div class="box8 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Resume
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Upload Resume PDF" id="name" required>
            </div>
        </h3>
    </div>
</section>


<script src="/js/profilePageAuth.js"></script>