{{>navigation}}


<main class="main">
    <aside class="sidebar">
        <nav class="nav">
            <ul>
                <li><a href="#section-name-title" id="user-name-title">Name / Title</a></li>
                <li><a href="#section-skills" id="user-skills">Skills</a></li>
                <li><a href="#section-projects" id="user-projects">Projects</a></li>
                <li><a href="#section-links" id="user-links">Links</a></li>
                <li><a href="#section-resume" id="user-resume">Resume</a></li>
            </ul>
        </nav>
    </aside>
</main>

<script src="/js/cmsController.js"></script>