{{>navigation}}


<main class="main">
    <aside class="sidebar">
        <nav class="nav">
            <ul class="side-nav-title">
                <li><a href="#" id="user-name-title">Who are you</a></li>
                <li><a href="#" id="user-skills">Skills</a></li>
                <li><a href="#" id="user-projects">Projects</a></li>
                <li><a href="#" id="user-links">Links</a></li>
                <li><a href="#" id="user-resume">Resume</a></li>
                <li><a href="#" id="template-choices">Templates</a></li>
            </ul>
        </nav>
    </aside>
</main>

<script src="/js/cmsController.js"></script>