<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta charset="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu|Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="styelsheet">
  <script src="https://use.fontawesome.com/c1b3aa1204.js"></script>
  <link rel="stylesheet" type="text/css" href="/template-themes/MintyBlues/css/style.css" />

  <title>Template One</title>
  
</head>

<body>

  {{{ body }}}

  <script src="/template-themes/MintyBlues/galaxy.js"></script>
  
</body>

</html>