<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta charset="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Nixie+One&display=swap" rel="stylesheet">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <script src="https://kit.fontawesome.com/2823a4a1df.js"></script> -->
    <script src="https://use.fontawesome.com/ae4d2b541d.js"></script>


    <link rel="stylesheet" type="text/css" href="/template-themes/DeepDarkGalaxy/css/style.css">

    <title>Template Two</title>
</head>

<body>

    {{{body}}}

    <script src="/template-themes/DeepDarkGalaxy/galaxy.js"></script>
</body>

</html>