.footer {
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    font-size: $default-font-size;
    color: $color-white;
    font-family: 'Courgette', cursive;
    padding: 2rem;
}