<header class="header">

    <div class="header__text-box">
        <h1 class="heading-primary">
            <!-- a span is to style some text differently -->
            <span class="heading-primary--main u-margin-bottom-small">build an online portfolio</span>
            <span class="heading-primary--sub">where your work can stand out</span>
        </h1>

        <a href="#section-tours" class="btn btn--white btn--animated">Login</a>
        <a href="#section-tours" class="btn btn--white btn--animated">Sign Up</a>
    </div>
</header>