{{>navigation}}

{{!-- landing page/header --}}
<header class="header">

    <div class="header__text-box">
        <h1 class="heading-primary">
            <!-- a span is to style some text differently -->
            <span class="heading-primary--main u-margin-bottom-small">build an online portfolio</span>
            <span class="heading-primary--sub">where your work can stand out</span>
        </h1>

        <a href="#" class="nbbtn nbbtn--white nbbtn--animated-bottom" data-toggle="modal"
            data-target="#exampleModal">Get Started</a>
    </div>
</header>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="non-BS-Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="nonBS-container" id="container">
                    <div class="form-container sign-up-container">
                        <form id="sign-up" action="#">
                            <h1>Create Account</h1>
                            <span>or use your email for registration</span>
                            <input type="text" id="user-name" placeholder="Name" />
                            <input type="email" id="user-email" placeholder="Email" />
                            <input type="password" id="user-pass" placeholder="Password" />
                            <button>Sign Up</button>
                        </form>
                    </div>
                    <div class="form-container sign-in-container">
                        <form id="sign-in" action="#">
                            <h1>Sign in</h1>
                            <span>or use your account</span>
                            <input type="email" id="sign-email" placeholder="Email" />
                            <input type="password" id="sign-pass" placeholder="Password" />
                            <button>Sign In</button>
                        </form>
                    </div>
                    <div class="overlay-container">
                        <div class="overlay">
                            <div class="overlay-panel overlay-left">
                                <h1>Welcome Back!</h1>
                                <p>To keep connected with us please login with your personal info</p>
                                <button class="ghost signbutton" id="signIn">Sign In</button>
                            </div>
                            <div class="overlay-panel overlay-right">
                                <h1>Hello, Friend!</h1>
                                <p>Enter your personal details and start journey with us</p>
                                <button class="ghost signbutton" id="signUp">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{!-- about section --}}
<section class="section-about" id="section-about">
    <div class="u-center-text">
        <h2 class="heading-secondary u-margin-bottom-big">
            GoHAMDev's Portfolio Builder
        </h2>
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <p class="paragraph u-margin-top-medium">
                GoHAMDev was founded by two freelance developers in 2019 with an idea of building web applications to
                make
                the lives of others simpler. This Content Management Systems website allows you to manage and take
                control of your own digital content with user-friendly features and much more. Get your online portfolio
                today!
            </p>
        </div>
        <div class="col-1-of-2">
            <div class="composition">
                <img src="./img/igor-miske-JVSgcV8_vb4-unsplash.jpg" alt="Photo 1"
                    class="composition__photo composition__photo--p1">
                <img src="./img/radek-grzybowski-eBRTYyjwpRY-unsplash.jpg" alt="Photo 2"
                    class="composition__photo composition__photo--p2">
                <img src="./img/igor-miske-Px3iBXV-4TU-unsplash.jpg" alt="Photo 3"
                    class="composition__photo composition__photo--p3">
            </div>
        </div>
    </div>
</section>

{{!-- steps section --}}
<section class="section-steps" id="section-steps">
    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            <source src="./img/Lights - 5527.mp4" type="video/mp4">
            <source src="./img/Lights - 5527.mp4" type="video/webm">
            Your browser is not supported!
        </video>
    </div>
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            how to create an online portfolio
        </h2>
    </div>
    <div class="row">
        <div class="col-1-of-3">
            <div class="steps-card">
                <i class="fas fa-sign-in-alt steps-card__icon u-margin-bottom-small" aria-hidden="true"></i>
                <h3 class="steps-card__heading u-margin-bottom-small u-margin-bottom-small">Step One</h3>
                <p class="steps-card__text">
                    Login or sign up with our portfolio builder for absoutely free!
                </p>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="steps-card">
                <i class="fas fa-tasks steps-card__icon u-margin-bottom-small" aria-hidden="true"></i>
                <h3 class="steps-card__heading u-margin-bottom-small">Step Two</h3>
                <p class="steps-card__text">
                    Fill out your information and include some of your favorite projects!
                </p>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="steps-card">
                <i class="fas fa-link steps-card__icon u-margin-bottom-small" aria-hidden="true"></i>
                <h3 class="steps-card__heading u-margin-bottom-small">Step Three</h3>
                <p class="steps-card__text">
                    Copy the link and share it with your collegues, recruiters, and others!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section-contact" id="section-contact">
    <div class="u-center-text">
        <h1 class="heading-tertiary u-margin-bottom-medium">
            Connect with us and check out more of our collaborative work!
        </h1>
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <div class="profile">
                <figure class="profile__shape">
                    <img src="./img/hasanain.jpg" alt="Profile picture" class="profile__img">
                    <figcaption class="profile__caption">Hasanain</figcaption>
                </figure>
            </div>
        </div>
        <div class="col-1-of-2">
            <div class="profile">
                <figure class="profile__shape">
                    <img src="./img/anam.jpg" alt="Profile picture" class="profile__img">
                    <figcaption class="profile__caption">Anam</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <div class="connect u-center-text">
                <a href="mailto:hasanain0603@gmail.com"><i class="fas fa-envelope-square connect--icon u-padding-left"
                        aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/hasanainmohammed/" target="_blank"><i
                        class="fab fa-linkedin connect--icon u-padding-left" aria-hidden="true"></i></a>
                <a href="https://github.com/hasanainm" target="_blank"><i
                        class="fab fa-github-square connect--icon u-padding-left" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-1-of-2">
            <div class="connect u-center-text">
                <a href="mailto:m.anam0603@gmail.com"><i class="fas fa-envelope-square connect--icon u-padding-left"
                        aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/anam-mohammad/" target="_blank"><i
                        class="fab fa-linkedin connect--icon u-padding-left" aria-hidden="true"></i></a>
                <a href="https://github.com/AnamAM" target="_blank"><i
                        class="fab fa-github-square connect--icon u-padding-left" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer__copyright u-center-text">
        Copyright &copy; GoHAM 2019
    </div>
</footer>


<!-- <section class="grid-test">

        <div class="row">
            <div class="col-1-of-2">
                Col 1 of 2
            </div>
            <div class="col-1-of-2">
                Col 1 of 2
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
            <div class="col-2-of-3">
                Col 2 of 3
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-2-of-4">
                Col 2 of 4
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-3-of-4">
                Col 3 of 4
            </div>
        </div>

    </section> -->