{{>navigation}}

{{!-- landing page/header --}}
<header class="header">

    <div class="header__text-box">
        <h1 class="heading-primary">
            <!-- a span is to style some text differently -->
            <span class="heading-primary--main u-margin-bottom-small">build an online portfolio</span>
            <span class="heading-primary--sub">where your work can stand out</span>
        </h1>

        <a href="#" class="btn btn--white btn--animated-left">Login</a>
        &nbsp;
        <a href="#" class="btn btn--white btn--animated-right">Sign Up</a>
    </div>
</header>

<section class="section-about">
    <div class="u-center-text">
        <h2 class="heading-secondary">
            GoHAMDev's Portfolio Builder
        </h2>
    </div>
    
</section>

{{!-- step section --}}
<section class="section-steps">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            Lets get started
        </h2>
    </div>
    <div class="row">
        <div class="col-1-of-3">
            <div class="steps-card">
                <i class="fas fa-sign-in-alt steps-card__icon u-margin-bottom-small" aria-hidden="true"></i>
                <h3 class="steps-card__heading u-margin-bottom-small u-margin-bottom-small">Step One</h3>
                <p class="steps-card__text">
                    Login to your account or sign up with our portfolio builder for absoutely free!
                </p>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="steps-card">
                <i class="fas fa-tasks steps-card__icon u-margin-bottom-small" aria-hidden="true"></i>
                <h3 class="steps-card__heading u-margin-bottom-small">Step Two</h3>
                <p class="steps-card__text">
                    Fill out your infomation and add your favorite projects!
                </p>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="steps-card">
                <i class="fas fa-link steps-card__icon u-margin-bottom-small" aria-hidden="true"></i>
                <h3 class="steps-card__heading u-margin-bottom-small">Step Three</h3>
                <p class="steps-card__text">
                    Copy the link and share with your collegues, recruiters, and others!
                </p>
            </div>
        </div>
    </div>

</section>



<!-- <section class="grid-test">

        <div class="row">
            <div class="col-1-of-2">
                Col 1 of 2
            </div>
            <div class="col-1-of-2">
                Col 1 of 2
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
            <div class="col-2-of-3">
                Col 2 of 3
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-2-of-4">
                Col 2 of 4
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-3-of-4">
                Col 3 of 4
            </div>
        </div>

    </section> -->