{{>sideNav}}

<section id="section-links">
    <div class="box8 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Links
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input u-margin-bottom-small" placeholder="LinkedIn Link" id="name" required>
                <input type="text" class="form__input u-margin-bottom-small" placeholder="GitHub Link" id="name" required>
                <input type="text" class="form__input u-margin-bottom-small" placeholder="Facebook Link" id="name" required>
                <input type="text" class="form__input" placeholder="Twitter Link" id="name" required>
            </div>
        </h3>
    </div>
</section>


