{{>sideNav}}

<section id="section-templates">
    <div class="box1 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            What is your name?
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input u-margin-bottom-small" placeholder="First Name" id="name"
                    required>
                <input type="text" class="form__input" placeholder="Last Name" id="name" required>
            </div>
        </h3>
    </div>
</section>