{{>sideNav}}

<section id="section-resume">
    <div class="box8 u-center-text u-margin-top-big" id="data" data-id={{data.id}}>
        <h3 class="heading-quad">
            Resume
            <div class="form__group u-center-text u-margin-top-medium">
                <input type="file" id="user-file" hidden="hidden" class="resume-value" />
                <button type="button" class="upload-pdf" id="custom-button">upload</button>
                <span id="custom-text">No file chosen, yet.</span>
                {{!-- <button type="button" id="custom-button">Preview</button> --}}
              
                {{!-- <div style="clear:both">
                    <iframe id="viewer" frameborder="0" scrolling="no" width="300" height="200"></iframe>
                </div> --}}

            </div>
            {{!-- {{#each data.dataValues.Resume}}
            <div class="delresume">
                <li class="delete">
                    <button data-deleteid="{{dataValues.id}}" class="resumedeletebtn">{{dataValues.PDF}}</button>
                </li>
            </div>
            {{/each}} --}}
        </h3>
    </div>
    <button type="button" class="btn btn-light submit u-margin-top-big" id="submit">Submit</button>
</section>


<script src="/js/crud-resume.js"></script>
<script src="/js/fileUpload.js"></script>