{{!-- <h1>Welcome to account page referencing {{data.name}} id {{data.id}}</h1> --}}

{{>navigation}}

<section class="section-profile">
    <div class="u-center-text">
        <h1 class="profile__heading u-margin-bottom-big">
            Please follow the steps to continue.
        </h1>
    </div>

    <div class="box1 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            What is your name?
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="First Name" id="name" required>
                <input type="text" class="form__input" placeholder="Last Name" id="name" required>
            </div>
        </h3>
    </div>

    <div class="box2 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            What is your profession/field of interest?
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Title" id="name" required>
            </div>
        </h3>
    </div>
    <div class="box3 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Front-End Skills
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Title" id="name" required>
            </div>
        </h3>
    </div>
    <div class="box4 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Back-End Skills
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Title" id="name" required>
            </div>
        </h3>
    </div>
    <div class="box5 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Frameworks
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Title" id="name" required>
            </div>
        </h3>
    </div>

    <div class="box6 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Other Skills
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Title" id="name" required>
            </div>
        </h3>
    </div>
    <div class="box7 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Projects
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Project Screenshot" id="name" required>
                <input type="text" class="form__input" placeholder="Project Title" id="name" required>
                <input type="text" class="form__input" placeholder="Project Github Link" id="name" required>
                <input type="text" class="form__input" placeholder="Project Demo Link" id="name" required>
            </div>
        </h3>
    </div>
    <div class="box8 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Links
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="LinkedIn Link" id="name" required>
                <input type="text" class="form__input" placeholder="GitHub Link" id="name" required>
                <input type="text" class="form__input" placeholder="Facebook Link" id="name" required>
                <input type="text" class="form__input" placeholder="Twitter Link" id="name" required>
            </div>
        </h3>
    </div>

    <div class="box8 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Resume
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Upload Resume PDF" id="name" required>
            </div>
        </h3>
    </div>
    <div class="box11 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Choose a template
        </h3>
    </div>

</section>


<script src="/js/profilePageAuth.js"></script>

{{!-- Scroll Reveal --}}
<script src="https://unpkg.com/scrollreveal"></script>
<script src="/js/scrollReveal.js"></script>