{{>sideNav}}

<section id="section-templates">
    <div class="box1 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Choose your desired template to share 
        </h3>
    </div>
    <div class="row u-margin-top-big">
        <div class="col-1-of-2 u-center-text">
            <a href="" target="_blank"><img src="/img/darkTemplate.jpg" alt="dark template" class="template-dark" id="dark-template"></a>
        </div>
        <div class="col-1-of-2 u-center-text">
            <a href="" target="_blank"><img src="/img/mintyTemplate.jpg" alt="minty template" class="template-minty" id="minty-template"></a>
        </div>
    </div>
</section>

<script src="/js/templateController.js"></script>