{{>sideNav}}

<section id="section-resume">
    <div class="box8 u-center-text u-margin-top-big" id="data" data-id={{data.id}}>
        <h3 class="heading-quad">
            Resume
            <form method="POST" action="/api/profileResume/{{data.id}}" enctype="multipart/form-data">
                <div class="upload-button">
                    <input type="file" name="file" />
                </div>
                <button type="submit" class="btn btn-light submit u-margin-top-small u-margin-bottom-medium"
                    id="submit">Submit</button>
            </form>

        </h3>

    </div>

</section>


<script src="/js/crud-resume.js"></script>