{{>sideNav}}

<section id="section-resume">
    <div class="box8 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Resume
            <div class="form__group u-center-text u-margin-top-small">
                <input type="file" id="user-file" hidden="hidden" />
                <button type="button" id="custom-button">upload</button>
                <span id="custom-text">No file chosen, yet.</span>
                {{!-- <input type="text" class="form__input" placeholder="Upload Resume PDF" id="name" required> --}}
            </div>
        </h3>
    </div>
</section>

<script src="/js/fileUpload.js"></script>