{{>sideNav}}

<section id="section-skills">
    <div class="box3 u-center-text u-margin-top-big u-margin-bottom-small">
        <h3 class="heading-quad">
            Front-End Skills
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Front-End Skills" id="name" required>
            </div>
        </h3>
    </div>

    <div class="box4 u-center-text u-margin-bottom-small">
        <h3 class="heading-quad">
            Back-End Skills
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Back-End Skills" id="name" required>
            </div>
        </h3>
    </div>

    <div class="box5 u-center-text u-margin-bottom-small">
        <h3 class="heading-quad">
            Frameworks
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Frameworks" id="name" required>
            </div>
        </h3>
    </div>

    <div class="box6 u-center-text u-margin-bottom-small">
        <h3 class="heading-quad">
            Other Skills
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Other Skills" id="name" required>
            </div>
        </h3>
    </div>
    <button type="button" class="btn btn-light submit">Light</button>

</section>


