{{>sideNav}}

<section id="section-links">
    <div class="box8 u-center-text u-margin-top-big" id="data" data-id={{data.id}}>
        {{#unless data.dataValues.Link.dataValues}}
        <h3 class="heading-quad">
            Links

            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input u-margin-bottom-small" placeholder="LinkedIn Link"
                    id="linkedin-value" required>
            </div>

            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input u-margin-bottom-small" placeholder="Instagram Link"
                    id="instagram-value" required>
            </div>

            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input u-margin-bottom-small" placeholder="Facebook Link"
                    id="facebook-value" required>
            </div>

            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Twitter Link" id="twitter-value" required>
            </div>

        </h3>
        <button type="button" class="btn btn-light submit u-margin-top-medium" id="submit-links">Submit</button>

        {{else}}
        <h3 class="heading-quad">
            Links

            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input u-margin-bottom-small" placeholder="LinkedIn Link"
                    id="linkedin-value" required>
            </div>

            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input u-margin-bottom-small" placeholder="instagram Link"
                    id="instagram-value" required>
            </div>

            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input u-margin-bottom-small" placeholder="Facebook Link"
                    id="facebook-value" required>
            </div>

            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Twitter Link" id="twitter-value" required>
            </div>

        </h3>
        <div class="submitupdate u-margin-top-medium">
            <a class="btn btn-light" id="update" data-updateid="{{data.dataValues.Links.dataValues.id}}">Edit Links</a>
        </div>
        
        {{/unless}}
    </div>

</section>

<script src="/js/crud-links.js"></script>