// COLORS
$color-primary: #3500D3;
$color-primary-dark: #190061;
$color-primary-dark-2: #0d0133;
$color-primary-light: #240090;

$color-grey-dark-1: #222222;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #bebcbc;

$color-white: #fff;
$color-black: #000;

// FONTS
$default-font-size: 1.6rem; 
