#section-name-title {
    height: 95vh;
    width: 75vw;
    float: right;
    background-color: $color-primary-light-2;
    overflow-y: scroll;
}

#section-skills {
    height: 95vh;
    width: 75vw;
    float: right;
    background-color: $color-primary-light-2;
    overflow-y: scroll;
}

#section-projects {
    height: 95vh;
    width: 75vw;
    float: right;
    background-color: $color-primary-light-2;
    overflow-y: scroll;
}

#section-links {
    height: 95vh;
    width: 75vw;
    float: right;
    background-color: $color-primary-light-2;
}

#section-resume {
    height: 95vh;
    width: 75vw;
    float: right;
    background-color: $color-primary-light-2;   
}