.section-about {
    color: $color-white;
}

.section-skills {
    color: $color-white;
    width: 100%;
	height: 100%;
	margin: 0;
}

.section-projects {
    padding: 0 0 10rem 0;
}

.section-contact {
    padding: 0 0 5rem 0;
}

.section-resume {
    padding: 0 0 5rem 0;
}

.section-footer {
    background-image: linear-gradient(to right, $color-primary, $color-primary-dark-2);
}