#custom-button {
    padding: 1rem;
    color: $color-grey-dark-2;
    background-color: rgba($color-white, .5);
    font-size: 1.5rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
  }
  
  #custom-button:hover {
    background-color: $color-grey-dark-2;
    color: $color-white;
  }
  
  #custom-text {
    margin-left: 10px;
    color: $color-grey-dark-2;
    letter-spacing: .5rem;
  }
  

  .filepond--drop-label {
    color: #4c4e53;
  }
  
  .filepond--label-action {
    text-decoration-color: #babdc0;
  }
  
  .filepond--panel-root {
    border-radius: 2em;
    background-color: #edf0f4;
    height: 1em;
  }
  
  .filepond--item-panel {
    background-color: #595e68;
  }
  
  .filepond--drip-blob {
    background-color: #7f8a9a;
  }

  .filepond--root {
    width: 30rem;
    margin: 0 auto;
  }
  