* {
  /* setting it to border box so the padding stays within the box model and doesnt make the width bigger */
  box-sizing: border-box;
}

h1{
  font-weight: bold;
  margin: 0;
}

p{
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span{
  font-size: 12px;
}

a{
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.non-BS-Modal{
  margin-right: 25%;
}

.nonBS-container{
  background-color: white;
  box-shadow:0 14px 28px rgba(0, 0, 0, 0.2);
  /* have some positioned absolute within it */
  position: relative;
  overflow: hidden;
  width: 768px;
  min-height: 400px;
 
}

.form-container form{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-container input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.signbutton{
  color: white;
}

button {
border-radius: 20px;
border: 1px solid black;
background:white;
color: black;
font-size: 12px;
font-weight: bold;
padding: 12px 45px;
letter-spacing: 1px;
text-transform: uppercase;
/* for adding a expanding effect. Need to use pseudo class later */
transition: transform 50ms ease-in;

}

button:active{
  transform: scale(.95);
  transition: all .2s;
}

button:focus{
  outline: none;
}

button.ghost{
  background: transparent;
  border-color: #eee;
}

.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  /* transition important for smooth slide over instead a flick over */
  transition: all 0.6s ease-in-out;
}

.sign-in-container{
  /* inheritance going here since it is the child element of the form container element */
  left: 0;
  /* sign in container will extend out to 50% absolute */
  width: 50%;
  z-index: 2;
}
.sign-up-container{
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.overlay-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;

}

.overlay{
  background: #ff416c;
  background: linear-gradient(to right,$color-primary-light,$color-primary-dark) no-repeat 0 0 / cover;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-right{
  right: 0;
  transform: translateX(0);
}
.overlay-left{
  /* this will help it come from the left once we set the translateX to 0 in js */
  transform: translateX(-20%);
}

/* Animations */

.nonBS-container.right-panel-active .sign-in-container {
  /* once the class is added we want to style sign in container by moving to the right a 100% */
  transform: translateX(100%);
}

/* Move overlay to left */

.nonBS-container.nonBS-container.right-panel-active .overlay-container{
  transform: translateX(-100%);
}

/* Bring sign up over sign in from the left */

.nonBS-container.right-panel-active .sign-up-container{
  transform: translate(100%);
  opacity: 1;
  z-index: 5;
}

/* Move overlay back to the right */

.nonBS-container.right-panel-active .overlay{
  transform: translateX(50%);
}

.nonBS-container.nonBS-container.right-panel-active .overlay-left{
  transform: translateX(0);
}
.nonBS-container.nonBS-container.right-panel-active .overlay-right{
  transform: translateX(20%);
}