.profile { 

    &__animation-typewriter {
        animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 1s steps(44) infinite normal;
    }
}

.box1 {
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
}
.box2 {
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
}
.box3 {
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
}