.sidebar {
  position: fixed;
  width: 25vw;
  height: 95vh;
  background: $color-primary;
  font-size: 0.65em;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav .side-nav-title {
  list-style: none;
  padding-left: 5rem;
  padding-bottom: 1rem;
  
  li {
    position: relative;
    margin: 3.2em 0;
    
    a {
      line-height: 5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: $color-white;
      display: block;
      transition: all ease-out 300ms;
    }
    
    &.active a {
      color: $color-grey-dark-2;
    }
    
    &:not(.active)::after {
      opacity: 0.2;
    }
    
    &:not(.active):hover a {
      color: $color-grey-dark-2;
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: .5rem;
      // background: black;
      left: 0;
      bottom: 0;
      background-color: $color-white;
    }
  }
}

